<ion-header [translucent]="true">

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Ap demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button (click)="clickBoton()">Buscar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-progress-bar *ngIf="procesando" type="indeterminate"></ion-progress-bar>
  </div>
</ion-content>
